
upstream openfisca {
		server 127.0.0.1:12200;
}

#server {
#		listen 80;
#		server_name embauche.beta.gouv.fr;
#
#		return 302 https://embauche.beta.gouv.fr$request_uri;
#}

proxy_cache_path /home/openfisca/nginx-cache levels=1:2 keys_zone=openfisca_cache:10m max_size=1g inactive=30d;

server {
		#listen 443 ssl;
		#server_name embauche.beta.gouv.fr;

		#ssl_certificate /etc/nginx/ssl/wildcard.sgmap.fr.chained.crt;
		#ssl_certificate_key /etc/nginx/ssl/wildcard.sgmap.fr.key;

		listen 80;
		server_name embauche.beta.gouv.fr;
		access_log /var/log/nginx/openfisca.log;

		location /openfisca/ {
				proxy_set_header X-Real-IP $remote_addr;
				proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
				proxy_set_header Host $http_host;

				proxy_http_version 1.1;
				proxy_set_header Upgrade $http_upgrade;
				proxy_set_header Connection "upgrade";

				rewrite /openfisca/(.*)$ /$1 break;
				proxy_pass  http://openfisca;
				proxy_redirect off;

				# Avoid having the origin set in cache through access-control-allow-origin
				proxy_set_header Origin "*";
				add_header X-Cache-Status $upstream_cache_status;
				proxy_cache openfisca_cache;
				proxy_ignore_headers Cache-Control;
				proxy_cache_valid any 30d;
		}

		#location /loaderio-e1244c649cbdd5e81d43e662b5c18d6f/ {
		#		alias /home/openfisca/loaderio/loaderio-e1244c649cbdd5e81d43e662b5c18d6f/;
		#		index loaderio-e1244c649cbdd5e81d43e662b5c18d6f;
		#}
}
